apiVersion: apps/v1
kind: Deployment
metadata:
  name: jai-infomarl-http
  labels:
    k8s-app: jai-infomarl-http
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: jai-infomarl-http
  template:
    metadata:
      labels:
        k8s-app: jai-infomarl-http
    spec:
      containers:
        - name: http-server
          image: jmalegaonkar/infomarl_train_space:latest
          command: ["sh", "-c", "sleep infinity"]
          resources:
            requests:
              cpu: "8"
              memory: "16Gi"
              nvidia.com/gpu: "2"
            limits:
              cpu: "8"
              memory: "16Gi"
              nvidia.com/gpu: "2"
          volumeMounts:
            - name: jai-fast-vol-trial
              mountPath: /avl-west

      volumes:
        - name: jai-fast-vol-trial
          persistentVolumeClaim:
            claimName: jai-fast-vol

      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: nvidia.com/gpu.product
                    operator: In
                    values:
                      - NVIDIA-GeForce-RTX-3090
                      - NVIDIA-RTX-A5000
                      - Quadro-RTX-6000
                      - NVIDIA-TITAN-RTX
                      - NVIDIA-A10
                      - NVIDIA-L4
                      - Tesla-V100-SXM2-32GB
                      - NVIDIA-A40
                      - NVIDIA-RTX-A6000
                      - Quadro-RTX-8000
                      - NVIDIA-A100-PCIE-40GB
                      - NVIDIA-A100-SXM4-80GB
                      - NVIDIA-A100-80GB-PCIe
                  - key: kubernetes.io/hostname
                    operator: NotIn
                    values:
                      - ry-gpu-05.sdsc.optiputer.net
                      - nautilus-it-gpu02.fullerton.edu
                      - nautilus-it-gpu06.fullerton.edu